:root {
    --bg-color-primary: white;            /*Editor Background */
    --bg-color-secondary: rgb(237, 237, 237) ;         /* This is kept from your original value, it's close to VS Code panel color */
    --bg-color-tertiary: #b8b8b8;          /* A slightly lighter shade from Editor Background for differentiation */
    --fg-color-primary: rgb(44, 44, 44);           /* Editor Foreground */
    --fg-color-secondary: #5a5a5a;         /* String color */
    --fg-color-tertiary: #696969;          /* Keyword color */
    --font-size-small: 12px;
    --background-color: var(--bg-color-primary);


    /* Variables for switch */
    --switch-width: 40px;
    --slider-height: calc(var(--switch-width) * .60);
    --slider-radius: calc(var(--slider-height) / 2);
    --knob-size: calc(var(--slider-height) * 0.8);
    --knob-transition-distance: calc(var(--switch-width) - var(--knob-size) - 8px);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--fg-color-primary);
}

/* body[data-theme='dark'] {
    background-color: var(--bg-color-secondary);
    color: var(--fg-color-primary); */
/* }
#small-header[data-theme='dark'] {
    background-color: var(--bg-color-secondary);
    color: var(--fg-color-primary); */
/* } */

/* #main-content[data-theme='dark'] {
    background-color: var(--bg-color-secondary);
    color: var(--fg-color-primary);
} */
#big-header {
    background-color: var(--bg-color-tertiary);
    color: var(--fg-color-tertiary); 
    /* padding: 15px; */
    text-align: center;
    transition: top 0.3s;
    align-items: center;
    /* height: 50px; */
    margin-top: 30px;
}

#small-header {
    background-color: var(--fg-color-tertiary);
    color: var(--fg-color-primary);
    padding: 10px;
    text-align: center;
    position: fixed;
    font-size: var(--font-size-small);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.4s;
}

#small-header #name {
    flex-grow: 2;
    text-align: center;
    font-weight: bolder;
    font-size: calc(var(--font-size-small) * 1.2);
}

/* DELETE COOKIES */
#deleteCookies {
    padding: 10px 15px;
    background-color: var(--bg-color-tertiary);
    /* Using the accent color you provided earlier */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    border-left: 1px solid var(--bg-color-secondary);
}

#deleteCookies:hover {
    background-color: var(--bg-color-secondary);
    





.container {
    display: flex;
}

#sidebar {
    list-style-type: none;
    flex: 1;
    padding: 15px;
    background-color: var(--bg-color-secondary);
    border-right: 1px solid var(--bg-color-secondary);
    min-height: calc(100vh - 60px);
    max-width: 300px;
}

#sidebar a {
    text-decoration: none;
    color: inherit;
}

#sidebar a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

#sidebar li {
    margin-bottom: 8px;
}

#main-content {
    flex: 3;
    padding: 15px;
    background-color: var(--background-color);
}

//* -----------  FOOTER -------------*/
/* -----------  FOOTER -------------*/
#sticky-footer {
    display: flex;
    justify-content: space-between;
    /* This will push the button and the div apart */
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 6px 0;
    background-color: #2c2c2cb7;
    color: var(--fg-color-primary);
    text-align: center;
    z-index: 1000;
    font-size: var(--font-size-small);
    font-weight: bold;
}

#deleteCookies {
    margin-left: 10px;
    /* Space from the left edge */
    padding: 10px 15px;
    background-color: var(--bg-color-tertiary);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#deleteCookies:hover {
    background-color: var(--bg-color-secondary);
}

#sticky-footer>div {
    flex-grow: 1;
    /* It allows the div to grow and effectively center its content */
    text-align: center;
    /* This will center the text of the div */
}

/* ----------------  Dark Mode Switch -----------------*/
.dark-mode-switch {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 10px;
}

.dark-mode-switch span:first-child {
    margin-right: 10px;
}

.dark-mode-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: relative;
    cursor: pointer;
    background-color: #ccc;
    border-radius: var(--slider-radius);
    width: var(--switch-width);
    height: var(--slider-height);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--knob-size);
    width: var(--knob-size);
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #0000009d;
}

input:focus+.slider {
    box-shadow: 0 0 1px #0000009d;
}

input:checked+.slider:before {
    -webkit-transform: translateX(var(--knob-transition-distance)) translateY(-50%);
    -ms-transform: translateX(var(--knob-transition-distance)) translateY(-50%);
    transform: translateX(var(--knob-transition-distance)) translateY(-50%);
}
/* ----------------  Dark Mode Switch -----------------*/
.dark-mode-switch {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 10px;
}

.dark-mode-switch span:first-child {
    margin-right: 10px;
}

.dark-mode-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: relative;
    cursor: pointer;
    background-color: #ccc;
    border-radius: var(--slider-radius);
    width: var(--switch-width);
    height: var(--slider-height);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--knob-size);
    width: var(--knob-size);
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #0000009d;
}

input:focus+.slider {
    box-shadow: 0 0 1px #0000009d;
}

input:checked+.slider:before {
    -webkit-transform: translateX(var(--knob-transition-distance)) translateY(-50%);
    -ms-transform: translateX(var(--knob-transition-distance)) translateY(-50%);
    transform: translateX(var(--knob-transition-distance)) translateY(-50%);
}