/* 
 * Filename: base_style.css
 * Version: 1.0.2
 * Date: 2023-08-19
 * Description: This stylesheet provides styles for the headers.
 */
*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --bg-color-primary: white;
    /* Original: white */
    --bg-color-secondary: rgb(212, 212, 212);
    /* Original: rgb(212, 212, 212) */
    --bg-color-tertiary: #878787;
    /* Original: #878787 */
    --bg-color-transparent: #d7d6d694;
    /* Original: #d7d6d694 */

    --fg-color-primary: rgb(31, 31, 31);
    /* Complementary for white */
    --fg-color-secondary: rgb(43, 43, 43);
    /* A darker version for contrast with rgb(212, 212, 212) */
    --fg-color-tertiary: #787878;
    /* A slightly lighter version for contrast with #878787 */

    --small-header-bg: rgb(0, 0, 65);
    --small-header-fg: rgb(179, 179, 179);


    --font-size-small: 12px;
    --background-color: var(--bg-color-primary);
    /* Variables for switch */
    --switch-width: 40px;
    --slider-height: calc(var(--switch-width) * .60);
    --slider-radius: calc(var(--slider-height) / 2);
    --knob-size: calc(var(--slider-height) * 0.8);
    --knob-transition-distance: calc(var(--switch-width) - var(--knob-size) - 8px);

    /* burger menu */
    --bar-width: 30px;
    --bar-height: 3px;
    --hamburger-gap: 3px;
    --hamburger-foreground: var(--bg-color-primary);
    --hamburger-background: var(--bg-color-primary);
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

    --font-size-adjuster-base-size: 7px;
}

body {
    font-family: Arial, sans-serif;
    font-size: normal;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--fg-color-primary);
}




/* font changer 
* credits: https: //getcssscan.com/css-buttons-examples
*/

.font-size-adjuster {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: calc(var(--font-size-adjuster-base-size)*2.5);
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(255, 255, 255, 0.14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    /* font-family: "Google Sans", Roboto, Arial, sans-serif; */
    font-size: calc(var(--font-size-adjuster-base-size)*1.5);
    font-weight: bold;
    height: calc(var(--font-size-adjuster-base-size)*2.5);
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: calc(var(--font-size-adjuster-base-size)*0.1) calc(var(--font-size-adjuster-base-size)*.8);
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.font-size-adjuster:hover {
    background: #F6F9FE;
    color: #174ea6;
}

/* .font-size-adjuster:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
} */

/* .font-size-adjuster:focus {
    outline: none;
    border: 2px solid #4285f4;
} */

.font-size-adjuster:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.font-size-adjuster:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.font-size-adjuster:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.font-size-adjuster:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.font-size-adjuster:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

/* ------------------------------------ */


.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 1000;
    cursor: pointer;
}
 
.hamburger-menu:has(input:checked) {

}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(var(--hamburger-background));
    box-shadow: 0 0 0 1px var(var(--hamburger-foreground));
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(var(--hamburger-foreground));
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 0;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    margin-left: -350px;
    transition: translate var(--animation-timing);
    translate: 100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    /* background-color: var(--foreground); */
    /* color: var(--background); */
    /* border-color: var(--fg-color-primary); */
    /* border-width: 10rem; */
    border-right: 2px solid var(--fg-color-tertiary);
    max-width: 2000rem;
    min-width: 350px;
    min-height: 100vh;
}

.hamburger-menu:has(input:checked)+.sidebar {
    translate: 0;
}

/* ---------------------------------- */

#big-header {
    background-color: var(--bg-color-secondary);
    color: var(--fg-color-tertiary);
    /* padding: 15px;  */
    text-align: center;
    transition: top 0.3s;
    height: 45px;
    /* margin-top: 20px; */
    font-size: var(--font-size-small);

}

#small-header {
    height: 35px;
    background-color: var(--small-header-bg);
    color: var(--small-header-fg);
    padding: 5px;
    text-align: center;
    position: fixed;
    font-size: var(--font-size-small);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.4s;
    z-index: 900;
}

#small-header #name {
    flex-grow: 2;
    text-align: center;
    font-weight: bolder;
    font-size: calc(var(--font-size-small) * 1.2);
}

.container {
    display: flex;
}

#sidebar a {
    text-decoration: none;
    font-size: small;
    color: inherit;
    /* padding: 5px; */
    /* Add padding for better hover effect */
    display: block;
    /* Make the anchor element occupy the full width for better clicking and hover experience */
}

#sidebar h3 {
    background-color: var(--bg-color-transparent);
    border-radius: 5px;
}

#sidebar a:hover {
    text-decoration: underline;
    font-weight: bolder;
    background-color: var(--bg-color-secondary);
    border-radius: 5px;
    text-indent: 5%;
    /* Background color on hover */
}

/* Add some spacing between sections */
#sidebar>section {
    margin-bottom: 30px;
}

#sidebar li {
    margin-bottom: 8px;
}

#sidebar ul {
    list-style-type: none;
    padding-left: 0;
    vertical-align: middle;
    /* Remove default padding */
    margin: 0;
    /* Remove default margins */
}

.social-icon {
    width: 17px;
    /* or whatever size you prefer */
    height: auto;
    /* keeps the aspect ratio of the image intact */
}

/* Profile picture styling */
.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px auto;
    /* centering it horizontally */
    display: block;
}

/* --------------main ---------------- */

#main-content {
    flex: 3;
    padding: 30px;
    margin-left: 0px;
    /* background-color: var(--background-color); */
    transition: margin-left var(--animation-timing);
    /* Added transition property */
    /* translate: -100%; */
}



/* -----------  FOOTER -------------*/
#sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 6px 0;
    background-color: var(--small-header-fg);
    color: var(--small-header-bg);
    text-align: center;
    align-items: center;
    z-index: 800;
    font-size: calc(var(--font-size-small)*.75);
    /* font-weight: bold; */
}

#sticky-footer a {
    text-decoration: none;
    /* font-size: small; */
    color: inherit;
    margin: 0 5px;
}

#sticky-footer a:hover {
    text-decoration: underline;
    colo
}

#sticky-footer img {
    /* position: inherit; */
    height: 12px;
    padding: 10 px;
}

/* ----------------  Dark Mode Switch -----------------*/
.dark-mode-switch {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 10px;
}

.dark-mode-switch span:first-child {
    margin-right: 10px;
}

.dark-mode-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: relative;
    cursor: pointer;
    background-color: #ccc;
    border-radius: var(--slider-radius);
    width: var(--switch-width);
    height: var(--slider-height);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--knob-size);
    width: var(--knob-size);
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #0000009d;
}

input:focus+.slider {
    box-shadow: 0 0 1px #0000009d;
}

input:checked+.slider:before {
    -webkit-transform: translateX(var(--knob-transition-distance)) translateY(-50%);
    -ms-transform: translateX(var(--knob-transition-distance)) translateY(-50%);
    transform: translateX(var(--knob-transition-distance)) translateY(-50%);
}
@media(min-width: 769px) {
.hamburger-menu:has(input:not(:checked))~#main-content {
    margin-left: 350px;
    /* Adjust the margin when the sidebar is visible */
}
@media (max-width: 768px) {

    /* This will hide the sidebar by default on smaller screens */
    .sidebar {
        /* transition: translate var(--animation-timing); */

        translate: -100%;
        padding: 0.5rem 1rem;
        padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
        max-width: 10rem;
        min-height: 100vh;
        background-color: var(--background-color);
        background: fixed ;
        margin-left: 0px;
        border-right: 2px solid var(--fg-color-tertiary);
        /* max-width: 2000rem; */
        min-width: 350px;
        min-height: 100vh;
    }
    #main-content {
        flex: 3;
        padding: 15px;
        margin-left: 0px;
        background-color: var(--background-color);
        /* transition: margin-left var(--animation-timing); */
        /* Added transition property */
        /* translate: 100%; */
    }

    /* .hamburger-menu:has(input:checked)+.sidebar {
        translate: 0;
    } */
}