/* 
 * Filename: dark.css
 * Version: 1.0.1
 * Date: 2023-08-19
 * Description: This stylesheet provides styles for the headers.
 */
:root {
    --bg-color-primary: #121212;
    --bg-color-secondary: #262626;
    --bg-color-tertiary: #797979;
    --fg-color-primary: #ebebeb;
    --fg-color-secondary: #e5e5e5;
    --fg-color-tertiary: #8c8c8c;
    --font-size-small: 12px;
    --background-color: var(--bg-color-primary);
    --small-header-bg: #121212b0;

    /* Variables for switch */
    --switch-width: 40px;
    --slider-height: calc(var(--switch-width) * .60);
    --slider-radius: calc(var(--slider-height) / 2);
    --knob-size: calc(var(--slider-height) * 0.8);
    --knob-transition-distance: calc(var(--switch-width) - var(--knob-size) - 8px);

    --hamburger-foreground: var(--fg-color-secondary);
    --hamburger-background: var(--fg-color-primary);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color-primary);
    color: var(--fg-color-primary);
}


#sidebar {
    background-color: var(--bg-color-secondary);
}