:root {
    --bg-color-primary: #2d2d2d;            /* Background */
    --bg-color-secondary: #5a5a5a;          /* Slightly different shade from the background for variety */
    --bg-color-tertiary: #797979;           /* Another shade for differentiation */
    --fg-color-primary: #ffffff;            /* Main text */
    --fg-color-secondary: #e5e5e5;          /* Strings */
    --fg-color-tertiary: #bdbdbd;           /* Keywords */
    --font-size-small: 12px;
    --background-color: var(--bg-color-primary);

    /* Variables for switch */
    --switch-width: 40px;
    --slider-height: calc(var(--switch-width) * .60);
    --slider-radius: calc(var(--slider-height) / 2);
    --knob-size: calc(var(--slider-height) * 0.8);
    --knob-transition-distance: calc(var(--switch-width) - var(--knob-size) - 8px);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-color: rgb(129, 214, 33); */
    color: var(--fg-color-primary);
}
.